{{ define "auth.partial.email.change.password.form" }}
    {{ with .Data }}
    <div id="changePassword" class="container">
        <form id="change-password-form"
            class="auth-email-form"
            method="post"
            action="{{ .ActionUrl }}"
            hx-post="{{ .ActionUrl }}"
            hx-target="closest div"
            hx-swap="outerHTML"
            hx-trigger="submit">

            {{ if .HasInfoMessages }}
                <div class="form-messages">
                    <ul>
                        {{ range .GetInfoMessages }}
                            <li>{{ .Message }}</li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}

            {{ if .HasSuccessMessages }}
                <div class="form-messages">
                    <ul>
                        {{ range .GetSuccessMessages }}
                            <li>{{ .Message }}</li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}

            <label for="oldPassword">Old Password</label>
            <input type="password" id="oldPassword"
                name="oldPassword"
                required {{ if .HasFieldErrors "OldPassword" }} aria-invalid="true" {{ end }}>
            {{ template "auth.partial.email.change.password.form.field_errors" (.GetFieldErrors "OldPassword") }}

            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword"
                name="newPassword"
                required {{ if .HasFieldErrors "NewPassword" }} aria-invalid="true" {{ end }}>
            {{ template "auth.partial.email.change.password.form.field_errors" (.GetFieldErrors "NewPassword") }}

            <label for="newPasswordMatch">Verify New Password</label>
            <input type="password" id="newPasswordMatch"
                name="newPasswordMatch"
                required {{ if .HasFieldErrors "NewPasswordMatch" }} aria-invalid="true" {{ end }}>
            {{ template "auth.partial.email.change.password.form.field_errors" (.GetFieldErrors "NewPasswordMatch") }}

            <button class="form-button" type="submit">Change Password</button>

            {{ if .HasErrorMessages }}
                <div class="form-messages">
                    <ul>
                        {{ range .GetErrorMessages }}
                            <li>{{ .Message }}</li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        </form>
    </div>
    {{ else }}
    <div>Unable to display change password details.</div>
    {{ end }}
{{ end }}

{{ define "auth.partial.email.change.password.form.field_errors" }}
    {{- range . }}
        <span class="field-error">{{ . }}</span>
    {{- end }}
{{ end }}
