{{ block "Contact" . }}
<section id="contact" class="section">
    <div class="container">
        {{ with .Data }}
        <h3><span>Contact Me</span></h3>
        <form id="contactForm" class="contact-form" hx-post="/contact" hx-target="#contact" hx-swap="outerHTML" hx-trigger="submit">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" autocomplete="name" value="{{ .Name }}" required {{ if .HasFieldErrors "Name" }} class="input-error" {{ end }}>
                {{template "field-errors" (.GetFieldErrors "Name")}}
            </div>
            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" id="email" name="email" value="{{ .Email }}" required {{ if .HasFieldErrors "Email" }} class="input-error" {{ end }}>
                {{template "field-errors" (.GetFieldErrors "Email")}}
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" {{ if .HasFieldErrors "Message" }} class="input-error" {{ end }}>{{ .Message }}</textarea>
                {{template "field-errors" (.GetFieldErrors "Message")}}
            </div>   
            <button id="contactButton" type="submit">Submit</button>
            {{ if .HasErrorMessages }}
                <div class="form-messages">{{ .GetErrorMessagesHTML }}</div>
            {{ end }}
        </form>
        {{ else }}
        <div>Unable to display the contact form.</div>
        {{ end }}
    </div>
</section>
{{ end }}

{{define "field-errors"}}
    {{- range .}}
        <span class="field-error">{{.}}</span>
    {{- end}}
{{end}}