<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <header>
        </header>

        <main>
            {{ .Title }}
        </main>

        <footer class="footer">
            <p>&copy; 2024 Trent Nix. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>