{{ block "Content" . }}
    {{ with .Data }}
    <div id="register-form" class="container">
        <form id="registerForm"
            class="auth-email-form"
            hx-post="/auth/register/email"
            hx-target="#register-form"
            hx-swap="outerHTML"
            hx-trigger="submit">
            
            <label for="email">Email</label>
            <input type="email" id="email"
                name="email"
                value="{{ .Email }}"
                required {{ if .HasFieldErrors "Email" }} aria-invalid="true" {{ end }}>
            {{template "field-errors" (.GetFieldErrors "Email")}}

            <label for="password">Password</label>
            <input type="password" id="password"
                name="password"
                value="{{ .Password }}"
                required
                {{ if .HasFieldErrors "Password" }} aria-invalid="true" {{ end }}>
            {{template "field-errors" (.GetFieldErrors "Password")}}

            <label for="passwordMatch">Confirm Password</label>
            <input type="password" id="passwordMatch" 
                name="passwordMatch" 
                value="{{ .PasswordMatch }}" 
                required 
                {{ if .HasFieldErrors "PasswordMatch" }} class="input-error" {{ end }}>
            {{template "field-errors" (.GetFieldErrors "PasswordMatch")}}

            <button type="submit">Register</button>
            
            {{ if .HasErrors }}
                <div>{{ .GetFormErrorHTML }}</div>
            {{ else if .GetFormMessage }}
                <div>{{ .GetFormMessageHTML }}</div>
            {{ end }}
        </form>
    </div>
    {{ else }}
        <div>Unable to display registration details.</div>
    {{ end }}
{{ end }} <!-- block "Content" . -->

{{define "field-errors"}}
    {{- range .}}
        <span class="field-error">{{.}}</p>
    {{- end}}
{{end}}